.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  background-color: #f5f7fa;
}

 .register__container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.register__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

 .register__label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

 .register__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 14px;
}

 .register__submit {
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

 .register__submit:hover {
  background-color: #574fcf;
}