:root {
  --color-primary-dark: #0C0E4A;
  --color-secondary-light: #FF6721;
  --color-light-purple: #c0a1f0;
  --color-light-green: #8BC98E;
  --color-bright-blue: #21CEFF;
  --color-bright-green: #21FF9D;
  --color-bright-red: #FF2721;
}

@property --gradient-stop {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 30%;
  }

@property --epayco-stop {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  padding: 0rem;
      overflow-y: auto;
    height: 85vh;
}

#root {
  max-width: 1280px;
  min-width: 100vmin;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  background-color: #f5f7fa;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}